html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Reggae One', cursive;
    color: white;
}

header {
    background-color: #d51016;
    height: 20%;
    position: relative;
}

#content {
    height: 76%;
    font-size: 22px;
    position: relative;
    overflow: auto;
}


/* .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin-top: 10%;
    margin-bottom: 30px;
} */

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.p-menu {
    display: flex;
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    cursor: pointer;
}

.p-contacts {
    display: flex;
    position: absolute;
    top: 30%;
    right: 25%;
    color: white;
    cursor: pointer;
}

.logo {
    margin: auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.home .first-img {
    width: 400px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 90%;
    border-radius: 2%;
}

footer {
    display: flex;
    width: 100%;
    height: 4%;
    background-color: #d51016;
    font-size: 13px;
    vertical-align: middle;
}

.done-by {
    margin-left: auto;
    margin-right: 1%;
    margin-top: 0;
    cursor: pointer;
}

.not-official {
    margin-top: 0;
    margin-left: 1%;
}

.menu-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.meal img {
    border-radius: 2%;
    width: 300px;
    height: 180px;
    margin-bottom: 35px;
}

.meal h2 {
    color: #d51016;
    margin: 0;
}

.meal p {
    font-size: 18px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.contacts img {
    width: 500px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 90%;
    border-radius: 2%;
}

.contacts h2,
h4 {
    color: #d51016;
}